<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Mollie_Payment::config" title="Mollie configuration"/>
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Sales::sales" title="Sales" translate="title" sortOrder="20">
                    <resource id="Mollie_Payment::payment_reminders" title="Mollie payment reminders">
                        <resource id="Mollie_Payment::pending_payment_reminders" title="Mollie pending payment reminders" />
                        <resource id="Mollie_Payment::sent_payment_reminders" title="Mollie sent payment reminders" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>