<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <mollie_general>
                <version>v1.17.0</version>
                <active>0</active>
                <enabled>0</enabled>
                <type>test</type>
                <payment_images>1</payment_images>
                <order_status_pending>pending_payment</order_status_pending>
                <order_status_processing>processing</order_status_processing>
                <invoice_moment>authorize</invoice_moment>
                <invoice_notify>1</invoice_notify>
                <loading_screen>0</loading_screen>
                <debug>1</debug>
                <model>Mollie\Payment\Model\Methods\General</model>
                <currency>1</currency>
                <cancel_failed_orders>0</cancel_failed_orders>
                <use_custom_redirect_url>0</use_custom_redirect_url>
                <second_chance_email_template>payment_other_mollie_mollie_general_second_chance_email_template</second_chance_email_template>
                <dashboard_url_orders_api>https://www.mollie.com/dashboard/orders/{id}</dashboard_url_orders_api>
                <dashboard_url_payments_api>https://www.mollie.com/dashboard/payments/{id}</dashboard_url_payments_api>
                <use_webhooks>enabled</use_webhooks>
                <second_chance_email_delay>1</second_chance_email_delay>
            </mollie_general>
            <mollie_methods_bancontact>
                <active>1</active>
                <model>Mollie\Payment\Model\Methods\Bancontact</model>
                <title>Bancontact</title>
                <payment_description>{ordernumber}</payment_description>
                <method>payment</method>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </mollie_methods_bancontact>
            <mollie_methods_banktransfer>
                <active>1</active>
                <model>Mollie\Payment\Model\Methods\Banktransfer</model>
                <title>Banktransfer</title>
                <payment_description>{ordernumber}</payment_description>
                <method>payment</method>
                <order_status_pending>pending_payment</order_status_pending>
                <due_days>14</due_days>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </mollie_methods_banktransfer>
            <mollie_methods_belfius>
                <active>1</active>
                <model>Mollie\Payment\Model\Methods\Belfius</model>
                <title>Belfius</title>
                <payment_description>{ordernumber}</payment_description>
                <method>payment</method>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </mollie_methods_belfius>
            <mollie_methods_creditcard>
                <active>1</active>
                <model>Mollie\Payment\Model\Methods\Creditcard</model>
                <title>Credit Cards</title>
                <payment_description>{ordernumber}</payment_description>
                <method>payment</method>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </mollie_methods_creditcard>
            <mollie_methods_directdebit>
                <active>0</active>
                <model>Mollie\Payment\Model\Methods\Directdebit</model>
                <title>SEPA Direct Debit</title>
                <payment_description>{ordernumber}</payment_description>
                <method>payment</method>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </mollie_methods_directdebit>
            <mollie_methods_ideal>
                <active>1</active>
                <model>Mollie\Payment\Model\Methods\Ideal</model>
                <title>iDeal</title>
                <payment_description>{ordernumber}</payment_description>
                <method>payment</method>
                <issuer_list_type>dropdown</issuer_list_type>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </mollie_methods_ideal>
            <mollie_methods_kbc>
                <active>1</active>
                <model>Mollie\Payment\Model\Methods\Kbc</model>
                <title>KBC/CBC</title>
                <payment_description>{ordernumber}</payment_description>
                <method>payment</method>
                <payment_action>order</payment_action>
                <issuer_list_type>none</issuer_list_type>
                <allowspecific>0</allowspecific>
                <instructions/>
            </mollie_methods_kbc>
            <mollie_methods_voucher>
                <active>0</active>
                <model>Mollie\Payment\Model\Methods\Voucher</model>
                <title>Voucher</title>
                <payment_description>{ordernumber}</payment_description>
                <method>order</method>
                <category>null</category>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </mollie_methods_voucher>
            <mollie_methods_paypal>
                <active>1</active>
                <model>Mollie\Payment\Model\Methods\Paypal</model>
                <title>Paypal</title>
                <payment_description>{ordernumber}</payment_description>
                <method>payment</method>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </mollie_methods_paypal>
            <mollie_methods_paysafecard>
                <active>1</active>
                <model>Mollie\Payment\Model\Methods\Paysafecard</model>
                <title>Paysafecard</title>
                <payment_description>{ordernumber}</payment_description>
                <method>payment</method>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </mollie_methods_paysafecard>
            <mollie_methods_sofort>
                <active>1</active>
                <model>Mollie\Payment\Model\Methods\Sofort</model>
                <title>Sofort</title>
                <payment_description>{ordernumber}</payment_description>
                <method>payment</method>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </mollie_methods_sofort>
            <mollie_methods_inghomepay>
                <active>1</active>
                <model>Mollie\Payment\Model\Methods\Inghomepay</model>
                <title>ING Homepay</title>
                <payment_description>{ordernumber}</payment_description>
                <method>payment</method>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </mollie_methods_inghomepay>
            <mollie_methods_giropay>
                <active>1</active>
                <model>Mollie\Payment\Model\Methods\Giropay</model>
                <title>Giropay</title>
                <payment_description>{ordernumber}</payment_description>
                <method>payment</method>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </mollie_methods_giropay>
            <mollie_methods_eps>
                <active>1</active>
                <model>Mollie\Payment\Model\Methods\Eps</model>
                <title>EPS</title>
                <payment_description>{ordernumber}</payment_description>
                <method>payment</method>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </mollie_methods_eps>
            <mollie_methods_klarnapaylater>
                <active>1</active>
                <model>Mollie\Payment\Model\Methods\Klarnapaylater</model>
                <title>Klarna Pay Later</title>
                <payment_description>{ordernumber}</payment_description>
                <method>order</method>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </mollie_methods_klarnapaylater>
            <mollie_methods_klarnasliceit>
                <active>1</active>
                <model>Mollie\Payment\Model\Methods\Klarnasliceit</model>
                <title>Klarna Slice It</title>
                <payment_description>{ordernumber}</payment_description>
                <method>order</method>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </mollie_methods_klarnasliceit>
            <mollie_methods_paymentlink>
                <active>1</active>
                <model>Mollie\Payment\Model\Methods\Paymentlink</model>
                <title>Mollie: Payment Link</title>
                <payment_description>{ordernumber}</payment_description>
                <method>order</method>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <message><![CDATA[Click <a href="%link%">here</a> to pay for your purchase.]]></message>
                <instructions/>
            </mollie_methods_paymentlink>
            <mollie_methods_reorder>
                <active>1</active>
                <model>Mollie\Payment\Model\Methods\Reorder</model>
                <title>Mollie: Reorder</title>
                <payment_description>{ordernumber}</payment_description>
                <method>order</method>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
            </mollie_methods_reorder>
            <mollie_methods_giftcard>
                <active>1</active>
                <model>Mollie\Payment\Model\Methods\Giftcard</model>
                <title>Giftcard</title>
                <payment_description>{ordernumber}</payment_description>
                <method>payment</method>
                <issuer_list_type>dropdown</issuer_list_type>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </mollie_methods_giftcard>
            <mollie_methods_przelewy24>
                <active>1</active>
                <model>Mollie\Payment\Model\Methods\Przelewy24</model>
                <title>Przelewy24</title>
                <payment_description>{ordernumber}</payment_description>
                <method>payment</method>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </mollie_methods_przelewy24>
            <mollie_methods_applepay>
                <active>0</active>
                <model>Mollie\Payment\Model\Methods\ApplePay</model>
                <title>Apple Pay</title>
                <payment_description>{ordernumber}</payment_description>
                <method>payment</method>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
                <integration_type>external</integration_type>
            </mollie_methods_applepay>
            <mollie_methods_mybank>
                <active>1</active>
                <model>Mollie\Payment\Model\Methods\MyBank</model>
                <title>MyBank</title>
                <payment_description>{ordernumber}</payment_description>
                <method>payment</method>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </mollie_methods_mybank>
        </payment>
        <sales>
            <totals_sort>
                <mollie_payment_fee>25</mollie_payment_fee>
            </totals_sort>
        </sales>
    </default>
</config>
