<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <mollie_general>
                <active>0</active>
                <enabled>0</enabled>
                <type>test</type>
                <payment_images>1</payment_images>
                <order_status_pending>pending_payment</order_status_pending>
                <order_status_processing>processing</order_status_processing>
                <invoice_notify>1</invoice_notify>
                <loading_screen>0</loading_screen>
                <debug>1</debug>
                <model>Mollie\Payment\Model\Methods\General</model>
                <currency>1</currency>
                <cancel_failed_orders>0</cancel_failed_orders>
            </mollie_general>
            <mollie_methods_bancontact>
                <active>1</active>
                <model>Mollie\Payment\Model\Methods\Bancontact</model>
                <title>Bancontact</title>
                <payment_description>{ordernumber}</payment_description>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </mollie_methods_bancontact>
            <mollie_methods_banktransfer>
                <active>1</active>
                <model>Mollie\Payment\Model\Methods\Banktransfer</model>
                <title>Banktransfer</title>
                <payment_description>{ordernumber}</payment_description>
                <order_status_pending>pending_payment</order_status_pending>
                <due_days>14</due_days>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </mollie_methods_banktransfer>
            <mollie_methods_belfius>
                <active>1</active>
                <model>Mollie\Payment\Model\Methods\Belfius</model>
                <title>Belfius</title>
                <payment_description>{ordernumber}</payment_description>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </mollie_methods_belfius>
            <mollie_methods_creditcard>
                <active>1</active>
                <model>Mollie\Payment\Model\Methods\Creditcard</model>
                <title>Credit Cards</title>
                <payment_description>{ordernumber}</payment_description>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </mollie_methods_creditcard>
            <mollie_methods_ideal>
                <active>1</active>
                <model>Mollie\Payment\Model\Methods\Ideal</model>
                <title>iDeal</title>
                <payment_description>{ordernumber}</payment_description>
                <issuer_list_type>dropdown</issuer_list_type>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </mollie_methods_ideal>
            <mollie_methods_kbc>
                <active>1</active>
                <model>Mollie\Payment\Model\Methods\Kbc</model>
                <title>KBC/CBC</title>
                <payment_description>{ordernumber}</payment_description>
                <payment_action>order</payment_action>
                <issuer_list_type>none</issuer_list_type>
                <allowspecific>0</allowspecific>
                <instructions/>
            </mollie_methods_kbc>
            <mollie_methods_paypal>
                <active>1</active>
                <model>Mollie\Payment\Model\Methods\Paypal</model>
                <title>Paypal</title>
                <payment_description>{ordernumber}</payment_description>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </mollie_methods_paypal>
            <mollie_methods_paysafecard>
                <active>1</active>
                <model>Mollie\Payment\Model\Methods\Paysafecard</model>
                <title>Paysafecard</title>
                <payment_description>{ordernumber}</payment_description>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </mollie_methods_paysafecard>
            <mollie_methods_sofort>
                <active>1</active>
                <model>Mollie\Payment\Model\Methods\Sofort</model>
                <title>Sofort</title>
                <payment_description>{ordernumber}</payment_description>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </mollie_methods_sofort>
            <mollie_methods_inghomepay>
                <active>1</active>
                <model>Mollie\Payment\Model\Methods\Inghomepay</model>
                <title>ING Homepay</title>
                <payment_description>{ordernumber}</payment_description>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </mollie_methods_inghomepay>
            <mollie_methods_giropay>
                <active>1</active>
                <model>Mollie\Payment\Model\Methods\Giropay</model>
                <title>Giropay</title>
                <payment_description>{ordernumber}</payment_description>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </mollie_methods_giropay>
            <mollie_methods_eps>
                <active>1</active>
                <model>Mollie\Payment\Model\Methods\Eps</model>
                <title>EPS</title>
                <payment_description>{ordernumber}</payment_description>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </mollie_methods_eps>
            <mollie_methods_klarnapaylater>
                <active>1</active>
                <model>Mollie\Payment\Model\Methods\Klarnapaylater</model>
                <title>Klarna Pay Later</title>
                <payment_description>{ordernumber}</payment_description>
                <method>order</method>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </mollie_methods_klarnapaylater>
            <mollie_methods_klarnasliceit>
                <active>1</active>
                <model>Mollie\Payment\Model\Methods\Klarnasliceit</model>
                <title>Klarna Slice It</title>
                <payment_description>{ordernumber}</payment_description>
                <method>order</method>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </mollie_methods_klarnasliceit>
            <mollie_methods_paymentlink>
                <active>1</active>
                <model>Mollie\Payment\Model\Methods\Paymentlink</model>
                <title>Mollie: Payment Link</title>
                <payment_description>{ordernumber}</payment_description>
                <method>order</method>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <message><![CDATA[Click <a href="%link%">here</a> to pay for your purchase.]]></message>
                <instructions/>
            </mollie_methods_paymentlink>
            <mollie_methods_giftcard>
                <active>1</active>
                <model>Mollie\Payment\Model\Methods\Giftcard</model>
                <title>Giftcard</title>
                <payment_description>{ordernumber}</payment_description>
                <issuer_list_type>dropdown</issuer_list_type>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </mollie_methods_giftcard>
            <mollie_methods_przelewy24>
                <active>1</active>
                <model>Mollie\Payment\Model\Methods\Przelewy24</model>
                <title>Przelewy24</title>
                <payment_description>{ordernumber}</payment_description>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </mollie_methods_przelewy24>
            <mollie_methods_applepay>
                <active>0</active>
                <model>Mollie\Payment\Model\Methods\ApplePay</model>
                <title>Apple Pay</title>
                <payment_description>{ordernumber}</payment_description>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
                <instructions/>
            </mollie_methods_applepay>
        </payment>
    </default>
</config>
