<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Mollie\Payment\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Mollie\Payment\Logger\MollieLogger">
        <arguments>
            <argument name="name" xsi:type="string">Mollie</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Mollie\Payment\Logger\MollieHandler</item>
            </argument>
        </arguments>
    </type>

    <!-- Set sensitive information -->
    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="payment/mollie_general/apikey_test" xsi:type="string">1</item>
                <item name="payment/mollie_general/apikey_live" xsi:type="string">1</item>
            </argument>
            <argument name="environment" xsi:type="array">
                <item name="payment/mollie_general/apikey_test" xsi:type="string">1</item>
                <item name="payment/mollie_general/apikey_live" xsi:type="string">1</item>
                <item name="payment/mollie_general/type" xsi:type="string">1</item>
                <item name="payment/mollie_general/debug" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>

    <type name="Mollie\Payment\Model\Client\Orders">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Mollie\Payment\Model\Client\Payments">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <type name="Magento\Quote\Api\CartRepositoryInterface">
        <plugin name="mollie_add_paymentfee_extension_attributes" type="Mollie\Payment\Plugin\Sales\Cart\AddPaymentFeeToCart" />
    </type>
</config>
