<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Mollie\Payment\Api\Webapi\PaymentTokenRequestInterface" type="Mollie\Payment\Webapi\PaymentToken" />
    <preference for="Mollie\Payment\Api\Webapi\StartTransactionRequestInterface" type="Mollie\Payment\Webapi\StartTransaction" />
    <preference for="Mollie\Payment\Api\Webapi\GetCustomerOrderInterface" type="Mollie\Payment\Webapi\GetCustomerOrder" />

    <preference for="Mollie\Payment\Api\PaymentTokenRepositoryInterface" type="Mollie\Payment\Model\PaymentTokenRepository"/>
    <preference for="Mollie\Payment\Api\Data\PaymentTokenInterface" type="Mollie\Payment\Model\Data\PaymentToken"/>
    <preference for="Mollie\Payment\Api\Data\PaymentTokenSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>

    <preference for="Mollie\Payment\Api\MollieCustomerRepositoryInterface" type="Mollie\Payment\Model\MollieCustomerRepository"/>
    <preference for="Mollie\Payment\Api\Data\MollieCustomerInterface" type="Mollie\Payment\Model\Data\MollieCustomer"/>
    <preference for="Mollie\Payment\Api\Data\CustomerSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>

    <type name="Mollie\Payment\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>

    <type name="Mollie\Payment\Logger\MollieLogger">
        <arguments>
            <argument name="name" xsi:type="string">Mollie</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Mollie\Payment\Logger\MollieHandler</item>
            </argument>
        </arguments>
    </type>

    <!-- Set sensitive information -->
    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="payment/mollie_general/apikey_test" xsi:type="string">1</item>
                <item name="payment/mollie_general/apikey_live" xsi:type="string">1</item>
            </argument>
            <argument name="environment" xsi:type="array">
                <item name="payment/mollie_general/apikey_test" xsi:type="string">1</item>
                <item name="payment/mollie_general/apikey_live" xsi:type="string">1</item>
                <item name="payment/mollie_general/type" xsi:type="string">1</item>
                <item name="payment/mollie_general/debug" xsi:type="string">1</item>
                <item name="payment/mollie_general/use_webhooks" xsi:type="string">1</item>
                <item name="payment/mollie_general/custom_webhook_url" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>

    <type name="Mollie\Payment\Model\Client\Orders">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <type name="Mollie\Payment\Model\Client\Payments">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="mollie_payment_fee_order" type="Mollie\Payment\Plugin\Sales\AddPaymentFeeToOrder" />
    </type>

    <type name="Magento\Quote\Api\CartRepositoryInterface">
        <plugin name="mollie_add_paymentfee_extension_attributes" type="Mollie\Payment\Plugin\Sales\Cart\AddPaymentFeeToCart" />
    </type>

    <type name="Mollie\Payment\Service\Order\BuildTransaction">
        <arguments>
            <argument name="parts" xsi:type="array">
                <item name="cardToken" xsi:type="object">Mollie\Payment\Service\Order\TransactionPart\CardToken</item>
                <item name="customerId" xsi:type="object">Mollie\Payment\Service\Order\TransactionPart\CustomerId</item>
                <item name="issuer" xsi:type="object">Mollie\Payment\Service\Order\TransactionPart\Issuer</item>
                <item name="applePayPaymentToken" xsi:type="object">Mollie\Payment\Service\Order\TransactionPart\ApplePayPaymentToken</item>
            </argument>
        </arguments>
    </type>

    <type name="Mollie\Payment\Service\Order\Uncancel">
        <arguments>
            <argument name="uncancelOrderItemReservation" xsi:type="object">\Mollie\Payment\Service\Order\Uncancel\OrderReservation\Proxy</argument>
        </arguments>
    </type>

    <type name="Mollie\Payment\Service\Order\SecondChanceEmail">
        <arguments>
            <argument name="identityContainer" xsi:type="object">Magento\Sales\Model\Order\Email\Container\OrderIdentity</argument>
        </arguments>
    </type>

    <type name="Magento\Customer\Api\CustomerRepositoryInterface">
        <plugin name="mollie_customer_id_extension_attributes" type="Mollie\Payment\Plugin\Customer\CustomerId" />
    </type>

    <type name="Mollie\Payment\Service\Order\Lines\OrderLinesProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="voucherCategory" xsi:type="object">
                    Mollie\Payment\Service\Order\Lines\Processor\VoucherCategory
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Asset\Minification">
        <plugin name="disable_minification_for_components_js" type="Mollie\Payment\Plugin\Framework\View\Asset\DisableMinificationForComponentsJs" />
    </type>

    <type name="Mollie\Payment\Observer\ControllerActionPredispatchCheckoutIndexIndex\RestoreQuoteOfUnsuccessfulPayment">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <type name="Magento\Quote\Api\PaymentMethodManagementInterface">
        <plugin name="mollie_hide_methods_that_are_not_allowed" type="Mollie\Payment\Plugin\Quote\Api\PaymentMethodManagementPlugin" />
    </type>
</config>
