<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_payment">
        <observer name="custom_admin_system_config_changed_section_payment" instance="Mollie\Payment\Observer\ConfigObserver"/>
    </event>
    <event name="order_cancel_after">
        <observer name="mollie_cancel_order" instance="Mollie\Payment\Observer\OrderCancelAfter"/>
    </event>
    <event name="sales_order_shipment_save_before">
        <observer name="mollie_create_shipment" instance="Mollie\Payment\Observer\SalesOrderShipmentSaveBefore"/>
    </event>
    <event name="sales_order_shipment_track_save_after">
        <observer name="mollie_create_shipment" instance="Mollie\Payment\Observer\SalesOrderShipmentTrackSaveAfter"/>
    </event>
    <event name="sales_order_creditmemo_save_after">
        <observer name="mollie_create_online_refund" instance="Mollie\Payment\Observer\SalesOrderCreditmemoSaveAfter"/>
    </event>
    <event name="sales_model_service_quote_submit_before">
        <observer name="mollie_copy_payment_fee_to_order" instance="Mollie\Payment\Observer\SalesModelServiceQuoteSubmitBefore\CopyPaymentFeeToOrder" />
    </event>
    <event name="sales_quote_save_before">
        <observer name="mollie_set_paymentfee_on_quote" instance="Mollie\Payment\Observer\SalesQuoteSaveBefore\SetPaymentFeeDataOnQuote" />
    </event>
    <event name="sales_model_service_quote_submit_success">
        <observer name="mollie_attach_payment_token_to_order" instance="Mollie\Payment\Observer\SalesModelServiceQuoteSubmitSuccess\AttachPaymentTokenToOrder" />
    </event>
    <event name="mollie_start_transaction">
        <observer name="mollie_save_pending_payment_reminder" instance="Mollie\Payment\Observer\MollieStartTransaction\SavePendingOrder" />
    </event>
    <event name="mollie_process_transaction_end">
        <observer name="mollie_remove_from_pending_payment_reminder" instance="Mollie\Payment\Observer\MollieProcessTransactionEnd\RemoveCompletedOrdersFromPendingPaymentTable" />
    </event>
    <event name="controller_action_predispatch_checkout_index_index">
        <observer name="mollie_restore_quote_after_unsuccessful_payment" instance="Mollie\Payment\Observer\ControllerActionPredispatchCheckoutIndexIndex\RestoreQuoteOfUnsuccessfulPayment" />
    </event>
</config>
