<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\RouterList">
        <arguments>
            <argument name="routerList" xsi:type="array">
                <item name="mollie_applepay_domain_association" xsi:type="array">
                    <item name="class" xsi:type="string">Mollie\Payment\Service\Magento\ApplePayDomainAssociationRouter</item>
                    <item name="sortOrder" xsi:type="string">9</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="mollie_payment_config_provider" xsi:type="object">Mollie\Payment\Model\MollieConfigProvider</item>
                <item name="mollie_payment_terminal_config_provider" xsi:type="object">Mollie\Payment\Model\MollieTerminalConfigProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\App\Request\CsrfValidator">
        <plugin name="mollie_csrf_validation_disable" type="Mollie\Payment\Plugin\Framework\App\Request\CsrfValidatorSkip" />
    </type>

    <type name="Magento\Vault\Model\Ui\TokensConfigProvider">
        <arguments>
            <argument name="tokenUiComponentProviders" xsi:type="array">
                <item name="mollie_methods_creditcard" xsi:type="object">Mollie\Payment\Ui\TokenUiComponentProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Mollie\Payment\Model\MollieTerminalConfigProvider">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
</config>
