<?xml version="1.0"?>
<!--
  ~ Copyright Magmodules.eu. All rights reserved.
  ~ See COPYING.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="layout_load_before">
        <observer name="mollie_add_express_components_layout_handle"
                  instance="Mollie\Payment\Observer\LayoutLoadBefore\AddExpressComponentsLayoutHandle" />
    </event>
</config>
