<div class="payment-method" data-bind="css: getClassNames()">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label">
            <!-- ko if: getMethodImage() -->
		    <img data-bind="attr: {src: getMethodImage()}" class="mollie-payment-icon"/>
            <!--/ko-->
        	<span data-bind="text: getTitle()"></span>
        </label>

    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <!-- ko if: isPlaceOrderActionAllowed() && !totalsLoading() -->
                    <!-- ko ifnot: isIosc -->
                    <div class="apple-pay-button-with-text apple-pay-button-white-with-text" data-bind="click: placeApplePayOrder">
                        <span class="text">Buy with</span>
                        <span class="logo"></span>
                    </div>
                    <!--/ko-->

                    <!-- ko if: isIosc -->
                    <!-- The One Step Checkout requires some extra classes, but these mess up the regulare checkout,
                        that's why we render this button different if we detect the One Step Checkout -->
                    <button class="apple-pay-button action primary checkout apple-pay-button-with-text apple-pay-button-white-with-text" data-bind="click: placeApplePayOrder">
                        <span class="text">Buy with</span>
                        <span class="logo"></span>
                    </button>
                    <!--/ko-->
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>
