<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <mollie_general>
                <active>0</active>
                <enabled>0</enabled>
                <type>test</type>
                <payment_images>1</payment_images>
                <order_status_pending>pending_payment</order_status_pending>
                <order_status_processing>processing</order_status_processing>
                <invoice_notify>1</invoice_notify>
                <debug>1</debug>
                <model>Magmodules\Mollie\Model\Methods\General</model>
            </mollie_general>
            <mollie_methods_bancontact>
                <active>0</active>
                <model>Magmodules\Mollie\Model\Methods\Bancontact</model>
                <title>Bancontact</title>
            </mollie_methods_bancontact>
            <mollie_methods_banktransfer>
                <active>0</active>
                <model>Magmodules\Mollie\Model\Methods\Banktransfer</model>
                <title>Banktransfer</title>
            </mollie_methods_banktransfer>
            <mollie_methods_belfius>
                <active>0</active>
                <model>Magmodules\Mollie\Model\Methods\Belfius</model>
                <title>Belfius</title>
            </mollie_methods_belfius>
            <mollie_methods_bitcoin>
                <active>0</active>
                <model>Magmodules\Mollie\Model\Methods\Bitcoin</model>
                <title>Bitcoin</title>
            </mollie_methods_bitcoin>
            <mollie_methods_creditcard>
                <active>0</active>
                <model>Magmodules\Mollie\Model\Methods\Creditcard</model>
                <title>Credit Cards</title>
            </mollie_methods_creditcard>
            <mollie_methods_ideal>
                <active>0</active>
                <model>Magmodules\Mollie\Model\Methods\Ideal</model>
                <title>iDeal</title>
            </mollie_methods_ideal>
            <mollie_methods_kbc>
                <active>0</active>
                <model>Magmodules\Mollie\Model\Methods\Kbc</model>
                <title>KBC</title>
            </mollie_methods_kbc>
            <mollie_methods_paypal>
                <active>0</active>
                <model>Magmodules\Mollie\Model\Methods\Paypal</model>
                <title>Paypal</title>
            </mollie_methods_paypal>
            <mollie_methods_paysafecard>
                <active>0</active>
                <model>Magmodules\Mollie\Model\Methods\Paysafecard</model>
                <title>Paysafecard</title>
            </mollie_methods_paysafecard>
            <mollie_methods_sofort>
                <active>0</active>
                <model>Magmodules\Mollie\Model\Methods\Sofort</model>
                <title>Sofort</title>
            </mollie_methods_sofort>
        </payment>
    </default>
</config>
